doctype html
html(lang='en')
	include includes/head
	body
		include includes/header
		main
			img.mw-100(src='img/web.jpg', alt='')
			.advantages__container
				.advantages
					.advantages__item
						img(src='img/company_icons/1.png', alt='')
						h2 Lorem ipsum
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, corrupti, molestias! Eos dolorum, obcaecati non.
					.advantages__item
						img(src='img/company_icons/2.png', alt='')
						h2 Lorem ipsum.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, corrupti, molestias! Eos dolorum, obcaecati non.
					.advantages__item
						img(src='img/company_icons/3.png', alt='')
						h2 Lorem ipsum
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, corrupti, molestias! Eos dolorum, obcaecati non.
					.advantages__item
						img(src='img/company_icons/4.png', alt='')
						h2 Lorem ipsum
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, corrupti, molestias! Eos dolorum, obcaecati non.
					.advantages__item
						img(src='img/company_icons/5.png', alt='')
						h2 Lorem ipsum
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, corrupti, molestias! Eos dolorum, obcaecati non.
					.advantages__item
						img(src='img/company_icons/6.png', alt='')
						h2 Lorem ipsum
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, corrupti, molestias! Eos dolorum, obcaecati non.
		include includes/footer

