doctype html
html(lang='en')
	include includes/head
	body
		include includes/header
		main.services
			img(src='img/services.jpeg')
			.services__container
				.services__container__block
					h3 Lorem ipsum dolor sit.
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, beatae recusandae repellat quam alias ipsa fugiat consequatur, possimus sint omnis mollitia quaerat dicta accusamus illum. Suscipit officiis cupiditate dicta saepe.
				.services__container__block
					h3 Lorem ipsum dolor sit.
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, beatae recusandae repellat quam alias ipsa fugiat consequatur, possimus sint omnis mollitia quaerat dicta accusamus illum. Suscipit officiis cupiditate dicta saepe.
				.services__container__block
					h3 Lorem ipsum dolor sit.
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, beatae recusandae repellat quam alias ipsa fugiat consequatur, possimus sint omnis mollitia quaerat dicta accusamus illum. Suscipit officiis cupiditate dicta saepe.
				.services__container__block
					h3 Lorem ipsum dolor sit.
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, beatae recusandae repellat quam alias ipsa fugiat consequatur, possimus sint omnis mollitia quaerat dicta accusamus illum. Suscipit officiis cupiditate dicta saepe.
		include includes/footer
